.header
  .header__box
    = link_to "Fashionista", root_path, class: "header__box__name"
    .header__box__info
      %p.header__box__info__name
        = current_user.nickname
      = link_to "投稿", "/posts/new", class: "header__box__info__post"
      = link_to "ログアウト", edit_user_path(current_user), class: "header__box__info__edit"
.content
  .content__main
    .content__main__post
      - @posts.each do |post|
        .content__main__post__image
          = link_to post_path(post) do
            = image_tag post.image.url , height: '280px', width: '220px'
            %a.content__main__post__image__name
              = post.user.nickname
  = paginate(@posts)          